.render-phone {
    width: 100%;
    background-image: url('http://bingde360-assets.oss-cn-beijing.aliyuncs.com/iphone-5-portrait.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.render-phone-content {
    margin: 0 auto;
    overflow: auto;
    position: relative;
}